#fortune-container {
    position: relative;
    text-align: center;
    margin-top: 5px;
    margin-right: 3%;
}

#fortune-img {
    filter: grayscale();
}

button {
    margin-left: 40%;
    width: 200px;
    height: 50px;
    background-color: darkgrey;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 25px;
}

button:hover {
    transform: scale(1.1);
}

#fortune-display {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

